*{
	margin: 0;
	padding: 0;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	padding:0;
	font: 14px "微软雅黑";
	}
html,body{
	/*position: relative;*/
	height: 100%;
	overflow: hidden;
	}
	
a{
	text-decoration: none;
	display: block;
	color: white;
	}
li{
	list-style: none;
	}
	
img{
	display: block;
	}

#head{
	position: absolute; 
	width: 100%;
	height: 60px;
	background: rgba(0,0,0,.8);
	overflow: hidden; 
	z-index: 2;
	}
#head .wrap{
	width:980px;
	height: 60px;
	margin: auto;
}
#head .wrap .logo{
	float: left;
	margin: 16px 16px 0 0;
}
#head .wrap .nav{
	float: right;
}
#head .wrap .nav>li{
	float: left;
	width: 120px;
	line-height: 60px;
	text-align: center;
	white-space: nowrap;
}
#head .wrap .nav>.active a{
	background: yellow;
	color: black;
}
#head .wrap .nav>li a:hover{
	background: yellow;
	color: black;
}
/*小圆点*/
#content .dot{
	position: fixed;
	width: 10px;
	top: 50%;
	right: 15px;
	z-index: 3;
}
#content .dot > li a{
	float: left;
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border-radius: 50%;
	margin-bottom: 7px;
	transition: 1s background;}
#content .dot > .active a{
	background: black;
}
#content .dot > li a:hover{
	background: black;
}

/*首页*/
#content{
	position: absolute;
	top: 60px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#content .list{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	/*height: 100%;*/
	transition:1s top;
}
#content .list > li{
	position: relative;
	width: 100%;
	height: 100%;
	background-position: 50% 50% !important;
	overflow: hidden;
}
#content .list > .home1{
		width: 100%;
		height: 100%;
		background:url(../img/s1.jpg) center;
}
#content .list > .home1 img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -545px;
	margin-top: -260px;
	transition:1s opacity;
}
/*抽象派*/
#content .list > .home2{
	background:url(../img/s2.jpg);
	width:100%;
	height:100%;
}
#content .list > .home2 .left{
	position:absolute;
	width:837px;
	height: 437px;
	left:3%;
	margin-top:3%;
	z-index:1;
}
#content .list > .home2 .left .pics{
	width:100%;
	height:100%;
}
#content .list > .home2 .left .pics li{
	float: left;
	margin-left: 20px;
	transition: 1s;
}
#content .list > .home2 .left .pics li:nth-child(1){
	transform:translateY(0);
}
#content .list > .home2 .left .pics li:nth-child(2){
	transform:translateY(0);
}
#content .list > .home2 .left .pics li:nth-child(3){
	transform:translateY(0);
}
#content .list > .home2 .left p{
	font-size:18px;
	text-align:center;
	margin:20px 0 ;
}
#content .list > .home2 .left .pics li a{
	position:relative;
	width:98px;
	height:36px;
	left:80px;
	background:url(../img/buy.jpg) no-repeat;
}
#content .list > .home2 .right{
	position: absolute;
	right: 3%;
	border-right: 2px solid;
	padding-right:10px ;
	text-align: right;
	top:10%;
	transition: 1s;
	z-index: 1;
}
#content .list > .home2 .right h1{
	font-size: 34px;
	color:black ;
	font-weight:100 ;
}
#content .list > .home2 .right p{
	font-size:18px;
	color: black;
	line-height: 24px;
	margin-top: 20px ;
	margin-bottom: 10px;
}
#content .list > .home2 .right a{
	color:black;
	text-decoration:underline;/*有下划线*/
	cursor: pointer;/*光标为指标*/
}
#content .list > .home2 .right a:hover{
	text-decoration:none;/*当鼠标放上去时没有下划线*/
}
#content .list > .home2 .bg{
	position: absolute;
	bottom: 0;
	right: 0;
}


/*人物油画*/
#content .list > .home3{
	background:url(../img/s3.jpg) center;
}
#content .list > .home3 .left{
	position: absolute;
	width: 837px;
	height: 437px;
	left: 3%;
	margin-top: 3%;
	z-index: 1;
}
#content .list > .home3 .left {
	width: 100%;
	height: 100%;
}
#content .list > .home3 .left li{
	float: left;
	margin-left: 20px;
	transition: 1s;
}
#content .list > .home3 .left li:nth-child(2){
	transform: translateX(0px);
}
#content .list > .home3 .left li:nth-child(3){
	transform: translateX(0px);
}
#content .list > .home3 .left li p{
	font-size: 18px;
	text-align: center;
	margin: 20px 0;
}
#content .list > .home3 .left li a{
	position: relative;
	width: 98px;
	height: 36px;
	left: 80px;
	background: url(../img/buy.jpg) no-repeat;
}
#content .list > .home3 .right{
	position: absolute;
	right: 3%;
	border-right:2px solid;
	padding-right: 10px;
	text-align: right;
	top: 10%;
	transition: 1s;
	z-index: 1;
}
#content .list > .home3 .right h1{
	font-size:34px;
	color:black;
	font-weight:100;
}
#content .list > .home3 .right p{
	font-size:18px;
	color:black;
	line-height:1.5em;
	margin-top:20px;
	margin-bottom:10px;
}
#content .list > .home3 .right a{
	color:black;
	text-decoration:underline;
	cursor: pointer
}
#content .list > .home3 .right a:hover{
	text-decoration:none;
}
#content .list > .home3 .bg{
	position: absolute;
	bottom: 0;
	right: 0;
}

/*绽放*/
#content .list > .home4{
	background: url(../img/s4.jpg) center;
}
#content .list > .home4 .left{
	position: absolute;
	width: 837px;
	height: 437px;
	left: 3%;
	margin-top: 3%;
	z-index: 1;
}
#content .list > .home4 .left {
	width: 100%;
	height: 100%;
}
#content .list > .home4 .left li{
	float: left;
	margin-left: 20px;
	transition: 2s ;
}
#content .list > .home4 .left li p{
	font-size: 18px;
	text-align: left;
	margin: 20px 0;
}
#content .list > .home4 .left li a{
	width: 98px;
	height: 36px;
	left: 80px;
	background: url(../img/buy.jpg) no-repeat;
}
#content .list > .home4 .right{
	position: absolute;
	right: 3%;
	border-right:2px solid;
	padding-right: 10px;
	text-align: right;
	top: 10%;
	transition: 1s;
	z-index: 1;
}
#content .list > .home4 .right h1{
	font-size:34px;
	color:black;
	font-weight:100;
}
#content .list > .home4 .right p{
	font-size:18px;
	color:black;
	line-height:1.5em;
	margin-top:20px;
	margin-bottom:10px;
}
#content .list > .home4 .right a{
	color:black;
	text-decoration:underline;
	cursor: pointer
}
#content .list > .home4 .right a:hover{
	text-decoration:none;
}
#content .list > .home4 .bg{
	position: absolute;
	bottom: 0;
	right: 0;
}

/*植物景观*/

#content .list > .home5{
	background: url(../img/s5.jpg) center;
}
#content .list > .home5 .left{
	position: absolute;
	width: 837px;
	height: 437px;
	left: 3%;
	margin-top: 3%;
	z-index: 1;
}
#content .list > .home5 .left {
	width: 100%;
	height: 100%;
}
#content .list > .home5 .left li{
	float: left;
	margin-left: 20px;
	transition: 1s;
	transform: translate3d(-1000px,-800px,-500px) rotateX(145deg)
}
#content .list > .home5 .left li p{
	font-size: 18px;
	text-align: left;
	margin: 20px 0;
}
#content .list > .home5 .left li a{
	width: 98px;
	height: 36px;
	background: url(../img/buy.jpg) no-repeat;
}
#content .list > .home5 .right{
	position: absolute;
	right: 3%;
	border-right:2px solid;
	padding-right: 10px;
	text-align: right;
	top: 10%;
	transition: 1s;
	z-index: 1;
}
#content .list > .home5 .right h1{
	font-size:34px;
	color:black;
	font-weight:100;
}
#content .list > .home5 .right p{
	font-size:18px;
	color:black;
	line-height:1.5em;
	margin-top:20px;
	margin-bottom:10px;
}
#content .list > .home5 .right a{
	color:black;
	text-decoration:underline;
	cursor: pointer
}
#content .list > .home5 .right a:hover{
	text-decoration:none;
}
#content .list > .home5 .bg{
	position: absolute;
	bottom: 0;
	right: 0;
}



@keyframes move1 {
	0%{ transform: translate(330px,-1000px) }
	20%{ transform: translate(330px,0) }
	40%{ transform: translate(330px,-50px) }
	60%{ transform: translate(330px,0px) }
	100%{ transform: translate(0,0) }
}
@keyframes move2 {
	0%{ transform: translate(0,-1000px) }
	20%{ transform: translate(0,0) }
	40%{ transform: translate(0,-50px) }
	60%{ transform: translate(0,0px) }
	100%{ transform: translate(0,0) }
}
@keyframes move3 {
	0%{ transform: translate(-330px,-1000px) }
	20%{ transform: translate(-330px,0) }
	40%{ transform: translate(-330px,-50px) }
	60%{ transform: translate(-330px,0px) }
	100%{ transform: translate(0,0) }
}


